<form onsubmit={{action 'createArtist'}}>
  <br>
  <h3> Form to Add New Artists </h3>
  <br>
  Name: {{input type="text" value=artistName }}
  <button type ="submit" class="btn btn-primary"> Create Artist </button>
</form>

{{outlet}}
